* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: rgb(238, 251, 255);
}

.header {
    margin: 30px;
    padding: 0px 30px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(54, 64, 206);
    color: white;
    border-radius: 7px;
}

.header button {
    background-color: rgb(0, 238, 255);
    padding: 15px;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-book:hover {
    background-color: rgb(0, 187, 255);
}

/* Form */
.add-book-form-section {
    margin-top: 30px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .book-form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .form-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 150px;
  }
  
  input[type="text"], input[type="number"] {
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus, input[type="number"]:focus {
    border-color: #6366f1;
  }
  
  .checkbox-field {
    display: flex;
    align-items: center;
  }
  
  .checkbox-field label {
    margin-right: 10px;
  }
  
  .submit-button {
    color: white;
    background-color: rgb(54, 64, 206);
    padding: 15px;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: rgb(79, 90, 242);
  }
  
  /* .hidden {
    display: none;
  } */

.book-list {
    margin: 30px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
}

.book-card {
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.book-card button {
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.book-card .change-status {
    background-color: rgb(39, 167, 82);
}

.book-card .remove-item {
    background-color: red;
}

.book-card button:hover {
    opacity: 0.85;
}